// canvas {
//     max-width: 100%;
// }

.traffic,
.daily,
.mobile {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    // margin-top: 20px;
}

.traffic-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.traffic-header h3,
.traffic-header ul,
.daily h3,
.mobile h3 {
    margin-top: 20px;
    line-height: .9em;
}

.widget-container-full,
.widget-container-half {
    position: relative;
    height: 20%;
    width: 97%;
    margin-top: 20px;
    padding-bottom: 10px;
}

// .widget-container-half {
//     position: relative;
//     height: 180px;
//     width: 300px;
//     // margin-top: 20px;
// }

// #traffic-chart {
//     // position: absolute;
//     // margin: auto;
//     // height: 300px;
//     // width: 250px;
//     // margin-left: -40px;

//   }


@media (min-width: 768px) {
    .widget-container-full {
        // width: 97%;
        height: 42%;
    }

    .traffic-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .widget-container-half {
        // width: 97%;
        height: 22%;
    }

    .daily {
        border-right: 1px solid lightgrey;
    }


}

@media (min-width: 1024px) {
    .widget-container-full {
        width: 97%;
        height: 58%;
    }

    .widget-container-half {
        width: 97%;
        height: 28%;
        padding-bottom: 30px;
    }
}