.widget-container,
.settings {
    display: flex;
    flex-direction: column;
}



.message h3,
.settings h3 {
    margin: 0;
    padding: 0px 10px;
}

.form-field,
.form-area {
    align-self: center;
    background-color: #F5F5F5;
    width: 95%;
    border-color: rgb(118, 118, 118);
    border-radius: 5px 5px 0 0;
    margin: 5px 1px 12px 1px;
    line-height: 3em;
}

.form-area {
    height: 140px;
    margin-bottom: 15px;
}



.listSuggestions {
    list-style: none;
    margin-top: -.2rem;
    align-self: center;
    width: 96%;
    padding-left: 5px;
    background-color: #F5F5F5;
    display: none;
    
}


.list-items:hover {
    background-color:rgb(118, 118, 118);
}

.settings {
    border-top:  1px solid lightgrey;
    justify-content: space-around;
}


@media (min-width: 1024px) {
    .settings {
        border-left: 1px solid lightgrey;
    }

    .message {
        border-top:  1px solid lightgrey;
    }
}