
.social-stats h3 {
    padding: 0px 10px; 
    margin: 10px 0px 0px 0px;
    line-height: .9em;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-container {
    display: flex;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 10px 15px;
    align-items: center;
    background-color: #F5F5F5;
    line-height: 1.6em;
}

.social-text {
    margin: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    flex-basis: 90%;
}

.social-type {
    color: #7477BF;
    margin: 0px;
    font-size: 1.2em;
    padding: 0px;
    font-weight: 500;
}

.social-number {
    color: gray;
    font-size: 2.3em;
    margin: 0px;
    padding: 0px;
}

.social-image {
    padding: 5px 12px 0px 12px;
}


.fb,
.insta,
.twitter {
    display: flex;
    background-color: #7477BF;
    border-radius: 50%;
    padding: 15px;
    margin: 8px 1px;
    fill: white;
    overflow: visible;
    width: 55px;
    height: 55px;
}

@media (min-width: 768px) {

    .social {
        flex-direction: row;
        margin-left: 12px;
        margin-right: 12px;
    }

    .social-container {
        flex: 1;
        margin: 10px 4px;
    }

    .social-type,
    .social-number {
        margin: 0px;
    }
}