.button-primary,
#save {
    background-color: #7477BF;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #FFF;
    width: 100%;
}

#cancel {
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.settings-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0px;
}