// canvas {
//     max-width: 100%;
// }

.traffic,
.daily,
.mobile {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
}

.traffic-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget-container-full {
    position: relative;
    height: 200px;
    width: 300px;
    // padding: 0px;
    // margin: 0px;
    // margin: auto;

}

.widget-container-half {
    position: relative;
    height: 200px;
    width: 300px;
}

// #traffic-chart {
//     // position: absolute;
//     // margin: auto;
//     // height: 300px;
//     // width: 250px;
//     // margin-left: -40px;

//   }


@media (min-width: 768px) {
    .widget-container-full {
        width: 600px;
        height: 280px;
        margin-left: 50px;
    }

}