// canvas {
//     max-width: 100%;
// }

.traffic,
.daily,
.mobile {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    // margin-top: 20px;
}

.traffic-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.traffic-header h3,
.traffic-header ul,
.daily h3,
.mobile h3 {
    margin-top: 20px;
    line-height: .9em;
}

.widget-container-full {
    position: relative;
    height: 160px;
    width: 300px;
    margin-top: 20px;
}

.widget-container-half {
    position: relative;
    height: 180px;
    width: 300px;
    // margin-top: 20px;
}

// #traffic-chart {
//     // position: absolute;
//     // margin: auto;
//     // height: 300px;
//     // width: 250px;
//     // margin-left: -40px;

//   }


@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
        height: 42vh;
    }

    .traffic-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .widget-container-half {
        width: 44vw;
        height: 22vh;
    }

    .daily {
        border-right: 1px solid lightgrey;
    }


}

@media (min-width: 1024px) {
    .widget-container-full {
        width: 92vw;
        height: 58vh;
    }

    .widget-container-half {
        width: 40vw;
        height: 28vh;
    }
}