

.members {
    border-top: 1px solid lightgrey;
    margin-top: 8px;
}

.members h3,
.activity h3 {
    margin: 0;
    padding: 0px 10px;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    // height: 75px;
    padding: 15px 0px 5px 0px;
    // margin: 3px;
    overflow: visible;
    font-size: .8em;
    line-height: .1em;
}

.border1024 {
    display: none;
}

// .members-container:after,
// .activity-container:after {
//     display: block;
//     // clear: both;
//     content: "";
//     // flex-wrap: wrap;
//     position: relative;
//     // left: 0;
//     // bottom: 0;
//     // max-width: 480px;
//     height: 1px;
//     width: 100%;
//     border-bottom: 1px solid lightgrey;
//     margin: 0 auto;
//     padding: 4px 0px;

// }

.members-container img,
.activity-container img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    // padding: 8px 0px 1px 0px;
}

.members-text,
.activity-text {
    padding-top: 4px;
    text-align: center;
}

// .joinDate,
// .recent {
//     padding-bottom: 8px;
// }


.activity-text p:first-child {
    margin-bottom: 4px;
    line-height: 1em;
}

.activity-text p:nth-child(2) {
    margin-top: 0px;
}

.activity-text {
    max-width: 75%;
}

.members-text a {
    text-decoration: none;
    color: #7477BF;
}

.activityGreaterThan {
    font-size: 1.3em;
    display: none;
}

@media (min-width: 768px) {

    .members-container,
    .activity-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }

    .members-container img,
    .activity-container img {
        width: 6%;
    }

    .members-text,
    .activity-text {
        text-align: left;
        padding: 2px 10px;
    }

    .activityGreaterThan {
        display: block;
    }

    .joinDate,
    .activityGreaterThan {
        margin-left: auto;
        padding-right: 10px;

    }


}

@media (min-width: 1024px) {
    .activity {
        border-top: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
    }

    // .joinDate {
    //     align-self: flex-start;

    // }

    .members-container img,
    .activity-container img {
        width: 9%;
    }

    // .members-container {
    //     width: 471.5px;
    // }

    .members-container,
    .activity-container {
        border-bottom: none;
    }

    .joinDate,
    .activityGreaterThan {
        display: inline-block;
    }

    .activity-text p:first-child {
            // margin-bottom: 0px;
            line-height: 2em;
        }

.border1024 {
    display: block;
    height: 1px;
    width: 95%;
    border-bottom: 1px solid lightgrey;
    margin: 0 auto;
    padding: 4px 0px;

}

       
    // .members div:last-of-type,
    // .activity div:last-of-type {
    //     border-bottom: none;
    // }
}