
.social-stats h3 {
    padding: 0px 10px; 
    margin: 10px 0px 0px 0px;
    line-height: .9em;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-container {
    display: flex;
    border: 1px solid darkgrey;
    border-radius: 5px;
    height: 75px;
    padding: 3px;
    margin: 10px;
    align-items: flex-start;
    background-color: #F5F5F5;
    line-height: 0em;
}

.social-type {
    color: #7477BF;
    font-size: 1.2em;
    padding: 0;
}

.social-number {
    color: gray;
    font-size: 2.1em;
    padding: 0;
}

.social-image {
    display: block;
    width: 25%;
    height: 25%;
    padding: 12px 22px 12px 12px;
    overflow: visible;
}

@media (min-width: 768px) {

    .social {
        flex-direction: row;
        min-width: 100%;
    }
    .social-container {
        flex: 1;
        justify-content: space-evenly;
        padding-top: 10px;
    }

    .social-type,
    .social-number {
        line-height: 1em;
        margin: 0px;
    }

    .social-image {
        padding: 0px;
        flex: 1;
        max-width: 80px;
    }

    .social-image svg {
        max-width: 55px;
        margin-left: 15px;
    }
}